<article>
    <div class="row">
        <div class="col-lg-12">
            <p class="h2">{{ post.getTitle() }}</p>
        </div>
        <div class="content">
            {{ post.getPreviewText()|purify }}
        </div>
        <div class="full-link">
            <a href="{{ path('onePost', {rbcId: post.getRbcId() }) }}">Подробнее</a>
        </div>
    </div>
</article>
<hr>
{{ dump(post) }}
