{% extends 'base.html.twig' %}
{% block body %}
    <div class="article-list">
        {% for post in posts %}
            {{
                include('post/_one_post.html.twig', {
                    post: post,
                    textTrimmer: textTrimmer,
                    previewLength: previewLength,
                })
            }}
        {% endfor %}
    </div>
{% endblock %}
